.trListPaciente:hover {
    cursor: pointer;
    background: #363952;
}

option {
    background-color: #27293d;
}

h3 {
    font-size: 25;
}

.p-recomendacao {
    border: 2px solid red;
    padding: 5px;
    margin: 1px 12px 1px 1px;
    text-align: center;
    border-radius: 10px;
    font-weight: Bold;
    max-width: 323;
}

.table>tbody>tr>.td-recomendacao {
    margin: 0px;
    padding: 0px;
}

#buttonSimulatePatient {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin: 0 20px 20px 0;
    background-color: #0098f0 !important;
    background-image: none !important;
}

#iconSimulatePatient {
    font-size: 20px;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #1e1e28;
    color: #eee;
}

.modal-title {
    color: #eee !important;
    margin-bottom: 15px;
    font-size: 22px;
}

.modal-dialog{
    background-color: transparent !important;
}

.modal-content{
    background-color: #3e3e28;
    border: 1px solid #27293d;
}

#alertSuccess {
    position: fixed;
    top: 0px;
    right: 0px;
    display: block;
    text-align: left;
    margin: 20px 20px 0 0;
    transition-delay: 0.3s;
}
