.trListPaciente:hover{
    cursor: pointer; 
    background: #363952;
}

option {
    background-color: #27293d;
}

h3 {
    font-size: 25;
}

.p-recomendacao{
    border: 2px solid red;
    padding: 5px;
    margin: 1px 12px 1px 1px;
    text-align: center;
    border-radius: 10px;
    font-weight: Bold;
    max-width:323;
}
.table > tbody > tr > .td-recomendacao{
    margin: 0px;
    padding: 0px;
}

#buttonSimulatePatient{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display:block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align:center;
    padding: 0;
    margin: 0 20px 20px 0;
    background-color: #0098f0 !important;
    background-image: none !important;
}

#iconSimulatePatient{
    font-size: 20px;
}