.trListPaciente:hover{
    cursor: pointer; 
    background: #363952;
}

option {
    background-color: #27293d;
}

h3 {
    font-size: 25;
}

.p-recomendacao{
    border: 1px solid red;
    padding: 5px;
    margin: 1px 12px 1px 1px;
    text-align: center;
    border-radius: 10px;
}
.table > tbody > tr > .td-recomendacao{
    margin: 0px;
    padding: 0px;
}