#row-navbar{
    margin: 0;
    padding: 25px 10px 17px 25px;
}

.link-navbar{
    margin-right: 12 !important;
    margin-left: 12 !important;
    color: '#ddd' !important;
}

#col-navbar-links{
    text-align: right;
}

#btn-solicitar{
    background: #47a0f6;
    color: #e8f3fe;
    font-weight: unset;
}

#btn-solicitar:hover{
    background-color: #a564e9;
    background-image: none !important;
}

#btn-solicitar:focus{
    background-color: #a564e9 !important;
    background-image: none !important;
}

#btn-login{
    width: 100%;
    background: #47a0f6;
    color: #e8f3fe;
    font-weight: unset;
}

#btn-login:hover{
    background-image: none !important;
    background-color: #a564e9;
}

#btn-login:focus{
    background-color: #a564e9 !important;
    background-image: none !important;
}

.secondary-link{
    color: #ddd;
}

.secondary-link:hover{
    color: #fff;
}

#mainImage{
    height: 360px;
    margin-right:90px;
}