#btn-aplicar {
    background: #20c997 !important;
}

#btn-aplicar:hover {
    background-color: #20c997 !important;
    background-image: none !important;
}

option {
    background-color: #27293d;
}

#titulo-form{
    font-size: 25;
}

#btn-simular{
    background: #D75CF5 !important;
}
